<section class="hero">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded-5 text-bg-dark">
            <div class="col-md-6 px-0">
              <h1 class="display-4 fst-italic">Web Technology</h1>
              <p class="lead my-3">Тестовое задание по предмету WEB технологии</p>
              <p class="lead mb-0"><a href="https://do.rsue.ru/course/view.php?id=3043" target="_blank" class="text-white fw-bold">Открыть в Moodle</a></p>
            </div>
        </div>
    </div>
</section>